Host rke-server-0
  Hostname 96.127.110.106
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop

Host rke-server-1 
  Hostname 96.127.122.180
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop

Host rke-server-2
  Hostname 3.32.17.239
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop
