Host rke-server-0
  Hostname 52.61.162.232
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop

Host rke-server-1 
  Hostname 160.1.144.46
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop

Host rke-server-2
  Hostname 15.205.97.134
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop
